<template>
<div class="panel panel-default">
    <div class="row panel-body border general-panel">
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control" v-model="searchValue" placeholder="Search users..." > <hr>
        </div>
        <div class="col-md-8"></div>
      </div>

      <FetchingData :active="fetching_data"/>
      
      <CardProfile v-for="user in searchResult" v-bind:key="user.id" :user=user />
      
    </div>
</div>


  
</template>

<script>
import CardProfile from '@/components/CardProfile.vue'
import FetchingData from '@/components/FetchingData.vue'

import { mapGetters } from 'vuex'
import { mapActions } from 'vuex'

export default {
  name: 'ProfileList',
  data: function () {
    return {
      searchValue:''
    }
  },
  components: {
    CardProfile,
    FetchingData
  },
  computed:{
    ...mapGetters([
      'users_list'    
    ]),
    ...mapGetters([
      'fetching_data'
    ]),
    searchResult() {
      let tempRecipes = this.users_list
      
      if (this.searchValue != '' && this.searchValue) {
            tempRecipes = tempRecipes.filter((item) => {
              return item.firstName
                .toUpperCase()
                .includes(this.searchValue.toUpperCase())
            })
          }
        return tempRecipes
    }
  },
  methods:{
    ...mapActions([
      'fetchUsers'    
    ])
  },
  mounted(){
    this.fetchUsers();
  }
}
</script>
