<template>
      <FetchingData :active="fetching_data"/>
      <div v-if="fetching_data==false" class="panel panel-default">
        <div class="row panel-body border general-panel">
            <div class="col-md-12">
                <div class="card-menu">
                    <div class="hstack gap-3">
                      <div><img :src="user_profile.picture"  class="rounded-circle img-card"></div>
                      <div class="me-auto"><b>{{ user_profile.title}}. {{ user_profile.firstName}} {{ user_profile.lastName}}</b></div>
                      <button @click="$router.back()" type="button" class="btn btn-secondary btn-lg">Volver</button>

                    </div>
                </div>
            </div>
            <address>
              <strong>{{ user_profile.title}} {{ user_profile.firstName}}, {{ user_profile.lastName}}</strong><br>
              {{ user_profile.location.street}}, {{ user_profile.location.city}}<br>
              {{ user_profile.location.state}}, {{ user_profile.location.country}}<br>
              <abbr title="Phone">Phone:</abbr> {{ user_profile.phone}}
            </address>
            <address>
              <strong>Email</strong><br>
              <a href="mailto:first.last@example.com">{{ user_profile.email}}</a>
            </address>
  
        </div>
    </div>
  </template>
  
<script>
import FetchingData from '@/components/FetchingData.vue'
import { mapGetters } from 'vuex'
import { mapActions } from 'vuex'

export default {
  components: {
      FetchingData
    },
  computed:{
    ...mapGetters([
      'user_profile'
    ]),
    ...mapGetters([
      'user_id'
    ]),
    ...mapGetters([
      'fetching_data'
    ]),
    dateOfBirth(){
      if(typeof this.user_profile.dateOfBirth !== "undefined")
      {
        return this.user_profile.dateOfBirth.substring(0, 10)
      } 
      return "";
      
    }
  },
  methods:{
    ...mapActions([
      'fetchUser'
    ]),
  }
}
</script>