<template>
  <div class="col-md-4">
      <div class="card-menu">
      <div class="hstack gap-3">
          <img :src="user.picture"  class="rounded-circle img-card">
          <div class=" ms-auto">{{ user.firstName }}</div>
          <div class="vr"></div>
          <button class="btn mybtn" v-on:click="goprofile()"><i class="fa fa-arrow-right"></i></button>
      </div>
      </div>
  </div>

  
</template>

<script>
import { mapActions } from 'vuex'
import router from "@/router";

export default {
  name: 'CardProfile',
  props: {
    user: {}
  },
  methods:{
    ...mapActions([
      'fetchUser'    
    ]),
    
    goprofile: function () {
      /*Es importante que al cambiar de página el valor del usuario seleccionado se guarde en el store de Vuex y en la página de
      perfil del usuario la información se muestre desde el store de Vuex.*/

      //Guardo en el store de Vuex objeto user y luego abro la nueva pantalla
      this.fetchUser(this.user.id);
      //Abro la url que contiene el perfils
      router.push({ name: "profile" });    }
  }
}
</script>
